.form-min {
	border: 0;
	outline: 0;
	background: white !important;
	border-bottom: 1px solid gray;
}

.form-min:focus {
	border-bottom: 2px solid green;
}

.btn-tutup {
	color: #000;
	background-color: #f0f0f0 !important;
	border-color: #f0f0f0 !important;
	box-shadow: none;
}
.btn-tutup:hover {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
	box-shadow: none;
}

.btn-reset {
	color: #000;
	background-color: #e9ecef !important;
	border-color: #ced4da !important;
	box-shadow: none;
}
.btn-reset:hover {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
	box-shadow: none;
}

.nav-drop:focus {
	color: white !important;
	background-color: #dc3545 !important;
}

input.invalid {
	border-bottom: 2px solid #dc3545;
}

a.sar {
	color: #111;
}
a.sar:hover {
	color: #444;
	text-decoration: underline;
}